[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "Covid19Wastewater"]
	path = Covid19Wastewater
	url = https://github.com/uw-madison-dsi/covid19wastewater
